<%- include('../partials/header'); %>

<h2><%= foundUser.userName %>'s Played Games</h2>

<% foundUser.gamesPlayed.forEach(game => { %>
<div class="game-card">
  <img src="<%= game.mainImage %>" alt="">
  <div><%= game.title %></div>
</div>
<% }); %>

<hr>

<h2><%= foundUser.userName%>'s Posts</h2>

<% foundUser.posts.forEach(post => { %>
<div class="post">
  <h2><%= post.title %></h2>
  <% if(post.body.length > 150) { %>}
  <p><%= post.body.substring(0, 150) + '...' %></p>
  <% } else { %>
  <p><%= post.body %></p>
  <% } %>
  <a href="/posts/<%= post._id %>">More...</a>
  <div class="game-info">
    <h3><%= post.gameTitle %></h3>
    <img src="<%= post.gameId.mainImage %>" alt="<%= post.gameTitle %>">
  </div>
</div>
<% }); %>

<%- include('../partials/footer'); %>