<%- include('../partials/header'); %>

<h3 class="mt-5"><%= foundUser.userName %>'s Played Games</h3 class="mt-5">

<div class="game-grid">
  <% foundUser.gamesPlayed.forEach(game => { %>
  <div class="game-card">
    <a href="/games/<%= game._id %>"><img src="<%= game.mainImage %>" class="img-fluid" alt=""></a>
    <div class="lead"><%= game.title %></div>
  </div>
  <% }); %>
</div>

<h3 class="mt-5"><%= foundUser.userName%>'s Posts</h3 class="mt-5">

<% foundUser.posts.forEach(post => { %>
<hr>
<div class="post mt-5">
  <h3><%= post.title %></h3>
  <% if(user._id.equals(post.authorId._id)) { %>
    <div class="post-buttons">
      <div class="ml-auto mr-5 edit"><a class="btn btn-secondary" href="/posts/<%= post._id %>/edit">Edit Post</a></div>
      <form action="/posts/<%= post._id %>?_method=DELETE" method="POST"><button class="btn btn-danger">Delete Post</button>
      </form>
    </div>
    <% } else if (user === 'undefined') { %>
    <% } %>
  <% if(post.body.length > 150) { %>
  <p><%= post.body.substring(0, 150) + '...' %> <a href="/posts/<%= post._id %>">More...</a></p>
  <% } else { %>
  <p><%= post.body %> <a href="/posts/<%= post._id %>">More...</a></p>
  <% } %>
  <div class="game-info">
    <h3 class="text-center"><%= post.gameTitle %></h3>
    <a href="/games/<%= post.gameId._id %>"><img src="<%= post.gameId.mainImage %>"
        class="img-fluid h-75 d-block mx-auto" alt="<%= post.gameTitle %>"></a>
  </div>
</div>
<% }); %>

<%- include('../partials/footer'); %>