<%- include('../partials/header'); %>

<a href="/posts/new" class="btn btn-primary">Create a new Post</a>

<% posts.forEach(post => { %>
<hr>
<div class="post">
  <h3><a href="/posts/<%= post._id %>"><%= post.title %></a></h3>
  <div class="game-info">
    <p class="text-center lead"><a href="/games/<%= post.gameId._id %>"><%= post.gameTitle %></a></p>
    <a href="/games/<%= post.gameId._id %>"><img class="img-fluid d-block mx-auto" src="<%= post.gameId.mainImage %>" alt="<%= post.gameTitle %>"></a>
  </div>
  <div class="author">By: <a href="/users/<%= post.authorId.userName %>"><%= post.authorId.userName %></a></div>
  <% if(post.body.length > 200) { %>
  <p><%= post.body.substring(0, 200) + '...' %> <a href="/posts/<%= post._id %>">More...</a></p>
  <% } else { %>
  <p><%= post.body %> <a href="/posts/<%= post._id %>">More...</a></p>
  <% } %>
</div>

<% }); %>

<%- include('../partials/footer'); %>