<%- include('../partials/header'); %>

<div class="author">By: <a href="/users/<%= post.authorId.userName %>"><%= post.authorId.userName %></a></div>
<% if(user._id.equals(post.authorId._id)) { %>
<div class="post-buttons">
  <div class="ml-auto mr-5 edit"><a class="btn btn-secondary" href="/posts/<%= post._id %>/edit">Edit Post</a></div>
  <form action="/posts/<%= post._id %>?_method=DELETE" method="POST"><button class="btn btn-danger">Delete Post</button>
  </form>
</div>
<% } else if (user === 'undefined') { %>
<% } %>


<p class="mt-5 post-body lead"><%= post.body %></p>
<hr>

<h2 class="mt-4">Game Info</h2>
<div class="new-game-info">
  <div class="new-game-desc">
    <h3 class="">Description</h3>
    <p><%= post.gameId.description %></p>
  </div>
  <div class="new-game-image">
    <h3>Main Image</h3>
    <div class="gameImage"><a href="/games/<%= post.gameId._id %>"><img class="img-fluid" src="<%= post.gameId.mainImage %>"
          alt="post.gameId.title"></a></div>
  </div>
  <div class="new-game-list">
    <h3>Developers</h3>
    <ul>
      <% post.gameId.developers.forEach(dev => { %>
      <li><%= dev %></li>
      <% }); %>
    </ul>
  </div>



  <!-- <h3><a href="/games/<%= post.gameId._id %>"><%= post.gameTitle %></a></h3>
    <a href="/games/<%= post.gameId._id %>"><img src="<%= post.gameId.mainImage %>" alt="<%= post.gameTitle %>"></a> -->
</div>
<hr>

<h2>Comments</h2>
<% if(!!post.comments[0]) { %>
<% post.comments.forEach(comment => { %>
<div class="comments">

  <div class="author">By: <a href="/users/<%= comment.authorId.userName %>"><%= comment.authorId.userName %></a></div>
  <p class="content"><%= comment.content %></p>
  <% if (user._id.equals(comment.authorId._id)) { %>
  <form action="/posts/<%= post._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST"><button
      class="btn btn-danger">Delete Comment</button></form>
  <% } %>
</div>
<% }); %>
<% } else { %>
<p>No comments yet :/</p>
<% } %>
<hr>

<h2>Post a Comment</h2>
<form action="/posts/<%= post._id %>/comments" method="POST">
  <div class="form-group">
    <textarea name="content" id="" cols="30" rows="10" class="form-control"></textarea>
  </div>
  <input type="hidden" name="authorId" value="<%= user._id %>">
  <button>Submit Comment</button>
</form>


<%- include('../partials/footer'); %>